.venv/*
*.mp4
*.pyc
*.png
.DS_Store
blender/*
data/*
courtvision_balldetector/data/labelstudiodata/*
courtvision_balldetector/logs/*
datasets/ball_coco/images/*.png
datasets/ball_coco/labels/*.txt
datasets/*
models/*
.gitignore
*.rel
*.checksum
python-database/*
results/*
runs/*
notebooks/YOLOv8/*
courtvision_balldetector/data/*
dist/*
courtvision/lightning_logs/*
courtvision/wandb/*
big_data_raw/**/*.mp4
big_data_raw/**/*.webm
*.mp4
courtvision_balldetector/courtvision-0.1.0-py3-none-any.whl
dist/*
courtvision_balldetector/logs/*
site/*
*.ckpt
!motion_blur_FILL0_wght400_GRAD0_opsz48.png
.venv311/*
.env
