.venv/*
*.mp4
*.pyc
.DS_Store
blender/*
data/*
courtvision_balldetector/data/labelstudiodata/*
courtvision_balldetector/logs/*
datasets/ball_coco/images/*.png
datasets/ball_coco/labels/*.txt
datasets/*
models/*
.gitignore
*.rel
*.checksum
python-database/*
results/*
runs/*
notebooks/YOLOv8/*
courtvision_balldetector/data/*
dist/*
