accelerate
aiohttp
aiosignal
appnope
asttokens
async-timeout
attrs
av
backcall
black
certifi
charset-normalizer
click
comm
contourpy
# courtvision @ file:///Users/benjamindecharmoy/projects/courtvision/dist/courtvision-0.1.0-py3-none-any.whl
cycler
Cython
debugpy
decorator
Deprecated
executing
filelock
fonttools
frozenlist
fsspec
huggingface-hub
idna
imageio
iniconfig
install
ipykernel
ipython
ipywidgets
jedi
Jinja2
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
kornia
# lap
# lap @ file:///Users/benjamindecharmoy/projects/lap/dist/lap-0.5.dev0-cp311-cp311-macosx_11_0_arm64.whl
lightning-utilities
MarkupSafe
matplotlib
matplotlib-inline
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
numpy
opencv-contrib-python
opencv-python
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pydantic
Pygments
pyparsing
pytest
python-dateutil
pytorch-lightning
pytube
pytz
PyYAML
pyzmq
regex
requests
# rerun-sdk
scipy
seaborn
segment-anything
sentry-sdk
six
stack-data
sympy
thop
timm
tokenize-rt
tokenizers
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
trimesh
typing_extensions
tzdata
ultralytics
urllib3
wcwidth
widgetsnbextension
wrapt
yarl
click
itsdangerous
label-studio-ml
rq
supervisor
uwsgi
werkzeug
